{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block content %}
    <h1>Modifier votre mot de passe</h1>
    Bienvenue {{app.user.firstname}} dans ton compte
    <hr>
    <div class="alert alert-info">{{ notification }}</div>
    {{form(form2)}}
    {% if notification %}
        
    {% endif %}
{% endblock %}
